Repository al/lionels-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

core: Dotenv
  .env.development
  .env.production
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

core: Vite, Vue
  .gitignore
  .lintstagedrc.yaml
  .prettierrc.yaml
  .stylelintrc.yaml
  .vscode/extensions.json
  README.md
  cspell.config.yaml
  eslint.config.js
  index.html
  jsconfig.json
  package.json
  pnpm-lock.yaml
  public/favicon.ico
  src/App.vue
  src/assets/stylesheets/index.css
  src/components/.keep
  src/main.js
  src/router/index.js
  src/views/HomePage.vue
  vite.config.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

core: Tailwind
  .prettierrc.yaml
  .stylelintrc.yaml
  .vscode/extensions.json
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/assets/stylesheets/index.css
  tailwind.config.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

feat: Home page
  cspell.config.yaml
  index.html
  package.json
  pnpm-lock.yaml
  src/assets/images/greenlane.jpg
  src/assets/images/grunge.jpg
  src/assets/images/lionel-1.jpg
  src/assets/images/lionel-2.jpg
  src/assets/images/lionel-3.jpg
  src/assets/images/lionel-4.jpg
  src/assets/images/paws.svg
  src/assets/stylesheets/index.css
  src/components/.keep
  src/components/HomePage/GetInvolved.vue
  src/components/HomePage/HeroHeader.vue
  src/components/HomePage/LionelsStory.vue
  src/components/HomePage/SpeedMatters.vue
  src/components/HomePage/TheLaw.vue
  src/components/HomePage/WhatToDo.vue
  src/components/Layout/PageFooter.vue
  src/components/Layout/PageLayout.vue
  src/components/Layout/PageNavbar.vue
  src/components/PolaroidImage.vue
  src/router/index.js
  src/views/HomePage.vue
  tailwind.config.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

feat: Vue Router scroll behaviour
  index.html
  src/router/index.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

feat: Subscription form using Mailer Lite
  cspell.config.yaml
  src/components/Layout/PageFooter.vue
  src/components/MailerLite.vue
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

feat: Update favicon
  index.html
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

feat: 404 page
  public/404.html
  src/assets/images/404.svg
  src/router/index.js
  src/views/NotFound.vue
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

feat: Add robots.txt (allowing all)
  public/robots.txt
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

ci: Github Pages deployment and workflow
  .github/workflows/deploy.yml
  README.md
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  public/.nojekyll
  public/CNAME
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

feat: Google Tag Manager
  .env.development
  .env.production
  package.json
  pnpm-lock.yaml
  src/main.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

feat: SEO/Metadata
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/main.js
  vite.config.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

core: Add `wip` as a valid commit type (commitlint)
  .commitlintrc.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

wip: Poster builder
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  src/assets/fonts/Andika-Bold.ttf
  src/assets/fonts/Andika-BoldItalic.ttf
  src/assets/fonts/Andika-Italic.ttf
  src/assets/fonts/Andika-Regular.ttf
  src/assets/fonts/Mansalva-Regular.ttf
  src/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf
  src/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf
  src/assets/images/qr/jspca.png
  src/assets/images/qr/website-flyer.png
  src/components/Layout/PageNavbar.vue
  src/components/Poster/PosterBuilder.vue
  src/components/Poster/PosterPreviewer.vue
  src/main.js
  src/router/index.js
  src/views/PosterBuilder.vue
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

wip: schema.org
  cspell.config.yaml
  generate-sitemap.js
  package.json
  pnpm-lock.yaml
  src/App.vue
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

ci: Configure Dependabot
  .github/dependabot.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

fix: Fix broken Dependabot config
  .github/dependabot.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

fix: Another attempt at fixing dependabot.yaml
  .github/dependabot.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

ci: Dependabot PR settings
  .github/dependabot.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

core: Minor commitlint changes
  .commitlintrc.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

refactor: Remove decprecated Husky code
  .husky/pre-commit
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

core: Add branch-name-lint
  .branch-name-lint.json
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

core: Update Git commit message template
  .gitmessage
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

core: Github labels
  .github/settings.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

core: Github issue templates
  .github/ISSUE_TEMPLATES/1_bug_report.md
  .github/ISSUE_TEMPLATES/2_discussion.md
  .github/ISSUE_TEMPLATES/3_feature_request.md
  .github/ISSUE_TEMPLATES/4_other.md
  .github/config.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

core: Github pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

doc: CODE_OF_CONDUCT, CONTRIBUTING and SECURITY
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

doc: Add LICENSE.md
  LICENSE.md
  cspell.config.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

fix: Misconfigured Github Issue templates
  .github/ISSUE_TEMPLATE/1_bug_report.md
  .github/ISSUE_TEMPLATE/2_discussion.md
  .github/ISSUE_TEMPLATE/3_feature_request.md
  .github/ISSUE_TEMPLATE/4_other.md
  .github/ISSUE_TEMPLATE/config.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

core: Add more .github/settings.yaml
  .github/settings.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

fix: Rename .github/settings.yaml
  .github/settings.yml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

Revert "fix: Rename .github/settings.yaml"
  .github/settings.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

fix: Replace dotenv with dotenv-flow
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

doc: Minor README.md updates
  README.md
  cspell.config.yaml
  src/router/index.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: d098a18ac577fd82d0cf743ba98ec94f25b20d09
  assets/index-DDBjdkxg.js
  assets/index-DHFIILNP.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

core: Prerendering
  README.md
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  src/router/index.js
  vite.config.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

ci: Parameterise Github `workflow_dispatch`
  .github/workflows/deploy.yml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 2d4bac19594d6e3135dadb8a1c504c6ea3b72a73
  assets/index-DDBjdkxg.js
  assets/index-DHFIILNP.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

fix: Use git+https protocol for branch-name-lint
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: b9527c5e2537b4f494afd48c4e3f02086a87971d
  assets/index-DDBjdkxg.js
  assets/index-DHFIILNP.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

Path conditions:
  pnpm exec cspell --no-must-find-files --files: any of: *
  pnpm exec prettier --check --ignore-unknown: any of: *
  pnpm exec eslint --no-warn-ignored: any of: *.{cjs,js,json,jsx,md,mjs,ts,tsx,vue,yaml,yml}
  pnpm exec stylelint: any of: *.{css,scss,vue}
