Repository al/lionels-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

.lintstagedrc.yaml:

'*':
  - pnpm exec cspell --no-must-find-files --files
  - pnpm exec prettier --check --ignore-unknown

'*.{cjs,js,json,jsx,md,mjs,ts,tsx,vue,yaml,yml}':
  - pnpm exec eslint --no-warn-ignored

'*.{css,scss,vue}':
  - pnpm exec stylelint

fix: Regenerate pnpm-lock.yaml
  pnpm-lock.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 6d7922bbe3b607f04c50b5a7d24a24fab970b7ef
  assets/index-Buqw6Rk-.js
  assets/index-DHFIILNP.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

core: Upgrade dependencies
  pnpm-lock.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 860631eeeaab861863412a262aef4b4608318cb9
  assets/index-B-7Lagai.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

style: Update greenlane image
  src/assets/images/greenlane.jpg
  src/components/HomePage/SpeedMatters.vue
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

deploy: d62835b7fa1286906633335e6dc1b70d20fce3be
  assets/greenlane-B_RqbR-T.jpg
  assets/greenlane-BajuD0No.jpg
  assets/index-B-7Lagai.js
  assets/index-C03v062z.js
  assets/index-C6DXyFOt.css
  assets/index-Fhl8xrrV.css
  assets/index-f39ejVUK.css
  assets/index-ppc2PM-i.css
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

fix: Use tarball for branch-name-lint
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 8b195cc3ae124089011737d69fcad89dc2c222a1
  assets/index-BPkStf6E.js
  assets/index-C03v062z.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: a19663018ac72f0b45e06200d858624ef57fa0ce
  assets/index--qMGBXGw.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

core: Prerendering
  README.md
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  src/router/index.js
  vite.config.js
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 9ec7d96a412c9c4474182567195168c0555ff3cc
  assets/App-VRTXQ3qx.vue
  assets/GetInvolved-dLui3zJg.vue
  assets/HeroHeader-I0Rzziqm.vue
  assets/HomePage-Brq3ua7z.vue
  assets/LionelsStory-6VG3UgcF.vue
  assets/MailerLite-DBHQeufm.vue
  assets/NotFound-B7XS_1Pk.vue
  assets/PageLayout-B0VAm-yW.vue
  assets/PageNavbar-Bwc9j_Ea.vue
  assets/SpeedMatters-BJgp2dK9.vue
  assets/TheLaw-CyxuS8xL.vue
  assets/index--qMGBXGw.js
  assets/index-Bt_mNsg7.js
  assets/index-DqgQM5mo.js
  assets/main-X_P_RmSf.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

core: Install Chromium in GH action
  .github/workflows/deploy.yml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 05aa8967c348c5429030f7025ce9f12fdd84082f
  assets/index-Bt_mNsg7.js
  assets/index-CoiQ237u.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 508919467311e7ab37afe253a5b3d10530afebff
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: df8244225007ff5b640f9001897351905bba52c4
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: 6a22e3d6d6a406654c7c0cfde52fa71428740080
  assets/index-CoiQ237u.js
  assets/index-DA_D_CyN.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 17cef6449c83a8280616d31ec7ae5147267bea54
  assets/index-BTwHeOUX.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: af2414c66095f97036a8f6982b465ec55a6638b1
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: 681d2deea456d6b461737b03fe74c362a926e89d
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: 255bb287797a63e6d507ba1200e2d853a488b411
  assets/index-BTwHeOUX.js
  assets/index-nmw0CnQC.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

refactor: Update "What you should know" text
  src/components/HomePage/WhatToDo.vue
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

deploy: 3bfbd61a04d8d69b30d065339b0a4bf6315c6c2d
  assets/WhatToDo-BRVAFUUx.vue
  assets/index-BV_2UUZx.js
  assets/index-nmw0CnQC.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

deploy: 4230be55c3b94d4d590f1da46d67c8cd20abcfc3
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: 3160f1895f3d94253ae65d4d768c458e015b7511
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

fix: Update links to Jersey Police in footer
  src/components/Layout/PageFooter.vue
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

deploy: a7f39cbb1b3799896adc5cce612446e873ac6a04
  assets/PageFooter-D3HOWO3E.vue
  assets/index-BV_2UUZx.js
  assets/index-D_6MVnCH.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

deploy: eb633f8a62e2c3ea5473df81d6a78a60aa6f8972
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: 76d1384d5a346ae50b9aba269901dfb3b694b08c
  assets/index-D_6MVnCH.js
  assets/index-DlRbpV4l.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 0cc69a1c02c10ffdb814446b582097d2e9748a1d
  assets/index-CqgJ8Rbq.js
  assets/index-DlRbpV4l.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 364b47f12fd492abcabfec3e0674254ae8294049
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: 94677cdeac75ac9552a6f96b2870129ec62d95c6
  assets/index-CqgJ8Rbq.js
  assets/index-D0nHFbdg.js
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: 2a38b395e2678546ed10d2dce9b12be949432e56
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: 0f33065c0ae23f0a046f8890898ae48f0fc4b149
  assets/index-Cs70s_RE.css
  assets/index-D0nHFbdg.js
  assets/index-DYd95WLW.css
  assets/index-Fhl8xrrV.css
  assets/index-XkKtpP3N.js
  assets/index-f39ejVUK.css
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

deploy: c194cb7ec5acdfbfc601bd100f21ec2af78f6060
  assets/index-Bwq99njL.js
  assets/index-DWXdu-rT.css
  assets/index-XkKtpP3N.js
  assets/index-YpprVnSv.css
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored, pnpm exec stylelint

deploy: aa6179eab279b88587d9d3c9d5cd938078554ce4
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

Revert "core(deps-dev): Bump tailwindcss from 3.4.17 to 4.0.0"
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown, pnpm exec eslint --no-warn-ignored

deploy: d52e2fca9092c1d2e985ca62adc10a6c42d3a923
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: 58dbea9c85c4b9cfae65dd0273254a1cdd47ac78
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: c7ecc56fc5309ebe4eac0816e83ced944e9235bb
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown

deploy: 3bfc3d560756363990619add230d9fa1ab83f255
  index.html
Due: pnpm exec cspell --no-must-find-files --files, pnpm exec prettier --check --ignore-unknown
